# Two-Week Average Positivity Rate by Zip Code

In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', 100)

In [105]:
df = pd.read_csv('COVID-19_Cases__Tests__and_Deaths_by_ZIP_Code.csv')

In [106]:
df['ZIP Code'].unique()

array(['Unknown', '60601', '60602', '60603', '60604', '60605', '60606',
       '60607', '60608', '60609', '60611', '60610', '60612', '60613',
       '60614', '60619', '60827', '60615', '60621', '60616', '60617',
       '60640', '60652', '60622', '60618', '60628', '60620', '60623',
       '60624', '60625', '60626', '60666', '60629', '60630', '60631',
       '60632', '60661', '60633', '60634', '60642', '60636', '60637',
       '60638', '60639', '60641', '60643', '60644', '60645', '60646',
       '60647', '60649', '60651', '60653', '60654', '60655', '60656',
       '60657', '60659', '60660', '60707'], dtype=object)

In [107]:
# Removing zip codes that are not in chicago
df = df[(df['ZIP Code']!= 'Unknown')]

In [108]:
# Confining the data to just the last 2 weeks
df = df[(df['Week Number']==42)|(df['Week Number']==43)]

In [109]:
df

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Weekly,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,Test Rate - Weekly,Test Rate - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Death Rate - Weekly,Death Rate - Cumulative,Population,Row ID,ZIP Code Location
8,60601,43,10/18/2020,10/24/2020,16.0,273.0,109.0,1860.3,538.0,8137,3666,55448.0,0.0,0.0,0,6,0.0,40.9,14675,60601-43,POINT (-87.622844 41.886262)
11,60602,43,10/18/2020,10/24/2020,1.0,29.0,80.0,2331.2,32.0,898,2572,72186.5,0.1,0.1,0,0,0.0,0.0,1244,60602-43,POINT (-87.628309 41.883136)
23,60601,42,10/11/2020,10/17/2020,36.0,257.0,245.0,1751.3,738.0,7599,5029,51781.9,0.0,0.0,0,6,0.0,40.9,14675,60601-42,POINT (-87.622844 41.886262)
24,60602,42,10/11/2020,10/17/2020,5.0,28.0,402.0,2250.8,51.0,866,4100,69614.1,0.1,0.1,0,0,0.0,0.0,1244,60602-42,POINT (-87.628309 41.883136)
48,60603,42,10/11/2020,10/17/2020,1.0,15.0,85.0,1277.7,36.0,533,3066,45400.3,0.0,0.0,0,0,0.0,0.0,1174,60603-42,POINT (-87.625473 41.880112)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1955,60666,43,10/18/2020,10/24/2020,NaN,NaN,NaN,NaN,0.0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0,60666-43,POINT (-87.896371 41.979511)
1988,60707,42,10/11/2020,10/17/2020,45.0,680.0,105.0,1580.7,NaN,4389,0,10202.5,0.0,0.1,0,13,0.0,30.2,43019,60707-42,POINT (-87.808283 41.921777)
1989,60707,43,10/18/2020,10/24/2020,29.0,709.0,67.0,1648.1,NaN,4389,0,10202.5,0.0,0.1,0,13,0.0,30.2,43019,60707-43,POINT (-87.808283 41.921777)
2020,60827,42,10/11/2020,10/17/2020,4.0,116.0,14.0,405.9,NaN,808,0,2827.4,0.0,0.1,0,8,0.0,28.0,28577,60827-42,POINT (-87.633087 41.650765)
2021,60827,43,10/18/2020,10/24/2020,2.0,118.0,7.0,412.9,NaN,808,0,2827.4,0.0,0.1,0,8,0.0,28.0,28577,60827-43,POINT (-87.633087 41.650765)

In [94]:
# Calculate percentage to get a more granular percentage than that which is already provided in the dataset
two_wk_avg_pos = pd.DataFrame(df.groupby(['ZIP Code'])['Cases - Weekly'].sum()/df.groupby(['ZIP Code'])['Tests - Weekly'].sum())

In [95]:
# Convert to dataframe to merge into census dataframe
two_wk_avg_pos.reset_index(inplace=True)
two_wk_avg_pos.columns = ['ZCTA', 'posRate']

In [96]:
# Filling null value with 0 for zero confirmed cases in OHare (because no residents)
two_wk_avg_pos.posRate = two_wk_avg_pos.posRate.fillna('0')

In [97]:
# Removing duplicate zip codes
df = df.drop_duplicates(subset=['ZIP Code'], keep='first')

In [98]:
# Add in zip coordinates. I'll use this to later calculate distance to testing centers.
# Creating individual df with zip code and zip code location
coords = df[['ZIP Code', 'ZIP Code Location']]

In [99]:
# Renaming columns for merge
coords.columns = ['ZCTA', 'coords']

In [100]:
# merging 2-week average positivity df with zip coordinates
coords_posRate = pd.merge(two_wk_avg_pos, coords, on='ZCTA')

In [104]:
coords_posRate

     ZCTA     posRate                        coords
0   60601   0.0407524  POINT (-87.622844 41.886262)
1   60602   0.0722892  POINT (-87.628309 41.883136)
2   60603   0.0149254  POINT (-87.625473 41.880112)
3   60604   0.0133333  POINT (-87.629029 41.878153)
4   60605   0.0373884  POINT (-87.623449 41.867824)
5   60606   0.0445104   POINT (-87.63676 41.882634)
6   60607   0.0382979  POINT (-87.652727 41.876104)
7   60608    0.056224  POINT (-87.670366 41.849879)
8   60609   0.0751295  POINT (-87.653382 41.812017)
9   60610   0.0348957    POINT (-87.63581 41.90455)
10  60611   0.0294551  POINT (-87.620291 41.894734)
11  60612    0.040293   POINT (-87.687011 41.88004)
12  60613   0.0372177  POINT (-87.661343 41.953742)
13  60614   0.0319077  POINT (-87.652064 41.922605)
14  60615       0.016  POINT (-87.602725 41.801993)
15  60616   0.0388318  POINT (-87.629531 41.844869)
16  60617   0.0839927  POINT (-87.556897 41.721257)
17  60618   0.0521803  POINT (-87.703343 41.946699)
18  60619   0.0498296   POINT (-87.60569 41.744737)
19  60620   0.0487721  POINT (-87.651656 41.740873)
20  60621   0.0483384  POINT (-87.638812 41.776931)
21  60622   0.0397814  POINT (-87.681818 41.902762)
22  60623   0.0967279  POINT (-87.717446 41.850321)
23  60624   0.0553892  POINT (-87.722735 41.879417)
24  60625   0.0415349  POINT (-87.701816 41.971155)
25  60626    0.024871  POINT (-87.669834 42.009469)
26  60628   0.0658608  POINT (-87.621537 41.694192)
27  60629    0.126195  POINT (-87.711565 41.777061)
28  60630   0.0812025  POINT (-87.759611 41.971261)
29  60631   0.0512207  POINT (-87.813371 41.995019)
30  60632    0.122362  POINT (-87.711251 41.810038)
31  60633   0.0888554  POINT (-87.556037 41.653147)
32  60634   0.0912348  POINT (-87.797373 41.944967)
33  60636   0.0715548   POINT (-87.668597 41.77599)
34  60637  0.00954154  POINT (-87.604053 41.780991)
35  60638    0.109178  POINT (-87.771902 41.787032)
36  60639    0.106852   POINT (-87.75531 41.920609)
37  60640   0.0314136  POINT (-87.662232 41.971888)
38  60641   0.0684086  POINT (-87.746791 41.946682)
39  60642   0.0485981  POINT (-87.657821 41.899935)
40  60643   0.0494309  POINT (-87.662381 41.700445)
41  60644   0.0423688  POINT (-87.756863 41.881113)
42  60645   0.0367241  POINT (-87.695049 42.008927)
43  60646   0.0557356  POINT (-87.761826 41.993931)
44  60647    0.047052  POINT (-87.701101 41.921058)
45  60649   0.0472037  POINT (-87.571522 41.762202)
46  60651   0.0753077  POINT (-87.741017 41.901964)
47  60652   0.0782201  POINT (-87.714238 41.745398)
48  60653        0.04  POINT (-87.611244 41.819261)
49  60654   0.0599868  POINT (-87.636354 41.892485)
50  60655   0.0819304  POINT (-87.701434 41.696456)
51  60656   0.0858156  POINT (-87.817934 41.974566)
52  60657   0.0359887  POINT (-87.658216 41.939715)
53  60659    0.070236  POINT (-87.703266 41.990803)
54  60660   0.0384449  POINT (-87.666362 41.991062)
55  60661   0.0531208  POINT (-87.644283 41.882786)
56  60666           0  POINT (-87.896371 41.979511)
57  60707         inf  POINT (-87.808283 41.921777)
58  60827         inf  POINT (-87.633087 41.650765)

In [103]:
# Pickle data frame to merge later
import pickle
pickle_out = open('2_week_pos.pickle', 'wb')
pickle.dump(coords_posRate, pickle_out)
pickle_out.close()